.git
.gitignore
.gitattributes
.github
build
.gradle
.idea
*.iml
*.ipr
*.iws
run
.kotlin
logs
out
classes
*.md
LICENSE
docs
*.DS_Store
*.hprof
*.jfr
hs_err_*.log
replay_*.log
*.launch
.vscode
.settings
bin
.classpath
.project
